<footer>
    <div class="text-white d-flex justify-content-center">
        <strong>Address: </strong> Industrial State Gadoon Amazai (Distt Swabi)
    </div>
    <div class="text-white d-flex justify-content-center my-3">
        <strong>Phone Number:</strong>&nbsp;<a href="tel:+923159975070" class="text-white">+923159975070</a>
    </div>
    <div class="text-white d-flex justify-content-center my-3">
        <strong>Email Address:</strong>&nbsp;<a href="mailto:srsfoods07@gmail.com" class="text-white">srsfoods07&#64;gmail.com</a>
    </div>
    <div class="d-flex text-center justify-content-center text-white">
        All Rights reserved with SRS Foods. Copyright-2024
    </div>
</footer>
