<nav class="navbar navbar-expand-lg border-bottom navbar-light bg-white py-0 shadow-sm px-0  sticky-top">
    <div class="container-fluid px-0">
      <!-- Logo -->
       <div class="d-flex gap-1 align-items-center">
         <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="offcanvas"
         data-bs-target="#sidebarMenu"
         aria-controls="sidebarMenu"
       >
         <span class="navbar-toggler-icon"></span>
       </button>
         <a class="navbar-brand d-flex align-items-center" href="#">
           <img src="../../assets/mainlogo.png" alt="">
         </a>
       </div>
  
      <!-- Full Menu (Desktop) -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
        </ul>
      </div>
  
      <div class="d-flex gap-2 navigation-menu">
        <a class="nav-link" routerLink="/" >Home</a>
            <a class="nav-link" routerLink="/contactus">Contact Us</a>
      </div>      
    </div>
  </nav>
  
  <!-- Sidebar Menu for Small Screens -->
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="sidebarMenu"
    aria-labelledby="sidebarMenuLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title fw-bold" id="sidebarMenuLabel">Menu</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn d-flex justify-content-start"  routerLink="/" data-bs-dismiss="offcanvas"
          aria-label="Close">Home</a>
        </li>
        <li class="nav-item"><a class="btn d-flex justify-content-start" routerLink="/contactus" data-bs-dismiss="offcanvas"
          aria-label="Close">Contact Us</a></li>
      </ul>
    </div>
  </div>
  